body {
    text-align: center;
    background-color: darkgray;


}

img {
    width: 300px;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 25px;
    color: black;
    font-weight: bold;


}

h2 {
    font-size: 20px;
    color: #1A237E;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;


}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

.Links {
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 25px;
}

.Links:hover {
    background-color: aqua;
}
